include COPYING
include README
include CHANGELOG
include AUTHORS
include INSTALL
include cddlib/COPYING
include cddlib/README
include cddlib/AUTHORS
include cddlib/ChangeLog
include pycddlib.pyx
include cdd.c
include cddgmp.c
recursive-include cddlib/lib-src *.h *.c
recursive-include cddlib/lib-src-gmp *_f.h *_f.c
graft docs/_build/html
prune docs/_build/html/.git
exclude docs/_build/html/.nojekyll
include docs/_build/latex/pycddlib.pdf
